* {
  margin: 0;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-container {
  background-color: black;
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  color: white;

  img {
    display: flex;
    align-items: center;
    max-width: 4vw;
    // width: 25px;
  }
  h5 {
    display: flex;
    align-items: center;
  }
}

.spinning-nav {
}
